@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Koh+Santepheap:wght@400;700&display=swap');

:root {
    /* Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Very-dark-blue)
}

.logo {
    font-weight: 800;
    font-size: 3rem;
}

/* ========== dropdown menu ========== */

header {
    padding: 2rem 2rem;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: none;
}

.navbar .toggle_btn {
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    width: 300px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    padding-left: 2em;
    gap: 2em;
}

.dropdown_menu.open {
    background-color: var(--Off-white);
    height: 200vh;
    background-color: pink;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
}

.overlay-hidden {
    display: none;
}

/* ========== grid layout ========== */

.container {
    position: relative; 
    z-index: -2;
}

.grid-layout {
    padding: 2em 2em;
    display: grid;
    grid-template-rows: 320px 450px 700px 550px;
}

.context {
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 3rem;
    margin-top: 0.6em;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.paragraph {
    color: var(--Dark-grayish-blue);
    line-height: 1.8;
}

.btn {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 1em 2em;
    margin-top: 1em;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    
    align-self: self-start;
}

.aside {
    background-color: var(--Very-dark-blue);
    padding: 1.2em 1em;
    margin-bottom: 5em;
}

.legend {
    color: var(--Soft-orange);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}

.aside-article {
    color: var(--Off-white);
    border-bottom: 1px solid var(--Dark-grayish-blue);
    padding-bottom: 2em;
}

.aside-article h2 {
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

.aside .aside-article:nth-child(4) {
    border-bottom: none;
}

.bot-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    margin-bottom: 2em;
}

.bot-article-desc .accent{
    color: var(--Grayish-blue);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.4em;
}

.bot-article-desc .paragraph {
    margin-top: .5em;
}

/* ========== Media Query ========== */

@media screen and (min-width: 1024px) {

    .toggle_btn {
        display: none;
    }

    .links {
        display: unset;
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .links li a {
        color: var(--Dark-grayish-blue);
    }


    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-template-areas: 
            "banner banner aside"
            "context context aside"
            "bottom bottom bottom";
        gap: 2em;
    }

    .banner {
        grid-area: banner;
    }

    .aside {
        grid-area: aside;
        margin-bottom: 0;
    }

    .context {
        grid-area: context;
        gap: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .context .headline {
        font-weight: 800;
        font-size: 4rem;
        margin-top: 0;
    }

    .context .desc {
        margin: 0;
        justify-content: space-between;
    }

    .context .desc .paragraph {
        font-size: 1.25rem;
    }


    .bottom {
        grid-area: bottom;
        margin-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em
    }

}