:root {
    /* --font-size: 15px; */
    /* Primary */
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    /* Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;

}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Very-dark-blue)
}

.logo {
    font-size: 3rem;
    
}

/* ========== dropdown menu ========== */

header {
    padding: 2rem 2rem;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: none;
}

.navbar .toggle_btn {
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    width: 300px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    padding-left: 2em;
    gap: 2em;
}

.dropdown_menu.open {
    background-color: var(--Off-white);
    height: 100vh;
}

/* ========== grid layout ========== */

.grid-layout {
    padding: 2em 1em;
    display: grid;
    grid-template-rows: 300px 400px 500px 700px;
}

.context {
    display: flex;
    flex-direction: column;
}

.paragraph {
    color: var(--Dark-grayish-blue);
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 1em 1.5em;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    align-self: self-start;
}